#border {
 -fx-background-color:  #5c6161;
 
}

#root {
 -fx-background-color:  #aaaaaa;
 -fx-border-color: white;
 -fx-border-radius: 100;
 -fx-padding: 50 45 50 100;
 -fx-background-radius: 100;
 
}

#box  { 
	-fx-font-weight: bold;
}