#border {
 -fx-background-color:  #5c6161;
 
}



#actions  {
	
 -fx-padding: 5 50 5 5;	
}

#box  { 
	-fx-font-weight: bold;
}

#left   { 
   -fx-background-radius: 10, 10, 10, 10;	
	
}